<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ecut.mapper.StudentEvaluationMapper">

    <select id="SelectAll" resultType="cn.edu.ecut.dataType.StudentEvaluation">
        select * from StudentEvaluation;
    </select>
</mapper>